/* CSS File for firstPage*/

h1{
    text-align: center;
}
.carousel-item h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
h3 {
    text-align: center;
    padding-top: 0;
    color: white;
}


#header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

#navigation {
    margin: 1.5%;
    width: 40%;
}

#course_selector {
    padding-top: 1em;
    background-size: 100% 100%;
    width: 75%;
    margin: auto;
    height: 10em;
    margin: auto;
    text-align: center;
}

#search {
    display: inline-block;
    position: relative;
    margin: auto;
    border-radius: 5px;
    
}

p {
    width: 50%;
    margin: auto;
    text-align: right;
}
.carousel-item p{
    text-align: center;
    color: white;
}

#background {
    border-image-repeat: stretch;
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(140, 140, 140);
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-image: none;
    list-style: none;
    box-sizing: border-box;
}

li {
    font-size: 2em;
    width: 150px;
    padding: 10px;
    color: rgb(136, 136, 136);
    text-align: center;
}

a:visited {
    color: rgb(136, 136, 136);
}

.carouselContent {
    width: 75%;
    height: 100%;
    margin: auto;
}

.custom-file-upload {
    border: 2px dashed #ccc;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 150px;
}

#selectedFiles {
    font-size: 10px;
}

#myProgress {
  width: 50%;
  margin: auto;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 50px;
  background-color: #4CAF50;
  text-align: center;
  padding: 1%;
  line-height: 30px;
  color: white;

}

#barContainer {
    margin: 5%;
}

#accordion {
    color: black;
    font-size: 0.5em;
}

#carouselContainer {
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    width: 70%;
    min-height: 50%;
    color: #fff;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(136, 136, 136, 0.66);
}

#catImg {
    display: block;
    margin: 0 auto; 

    width:30%; 
    height: 10%;

   padding-bottom: 30px;
    padding-top: 2.5%;
}

.calendar-choices-container {
    height: 100%;
    text-align: center;
    margin: 25px;
}

.calendar-choices-container img{
    width:50%; 
    
}

.carousel-control-next, .carousel-control-prev {
    border: white 2px solid;
    height: 60px;
}

.calendar-choices-container button {
    width: 30%;
    background: none;
    border:0;
    outline: 0;
/*Removed the border of button and background color*/
}

#submitFilesLabel {
    right: 12.5%;
    top: 80%;
}

#acceptCoursesLabel {
    top: 80%;
    right: 0;
    margin: 0;
    margin-top: 7%;
    margin-right: 7%;
}

#backButton {
    top: 50%;
    margin-left: 2.5%;
    color: whitesmoke;
}