/* CSS File for firstPage*/

h1, h3 {
    text-align: center;
}
.carousel-item h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

#header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

#navigation {
    /* display: flex;
    align-items: center; */
    margin: 1.5%;
    width: 40%;
}

#course_selector {
    padding-top: 1em;
    background-size: 100% 100%;
    width: 75%;
    margin: auto;
    height: 10em;
    margin: auto;
    text-align: center;
}

#search {
    display: inline-block;
    position: relative;
    margin: auto;
    border-radius: 5px;
    
}

p {
    width: 50%;
    margin: auto;
    text-align: right;
}
.carousel-item p{
    text-align: center;
    color: white;
}

#background {
    border-image-repeat: stretch;
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(140, 140, 140);
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-image: none;
    list-style: none;
    box-sizing: border-box;
}

li {
    font-size: 2em;
    width: 150px;
    padding: 10px;
    color: rgb(136, 136, 136);
    text-align: center;
}

a:visited {
    color: rgb(136, 136, 136);
}

.carouselContent {
    width: 75%;
    height: 100%;
    margin: auto;
}

.custom-file-upload {
    border: 2px dashed #ccc;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 150px;
}

#selectedFiles {
    font-size: 10px;
}

#myProgress {
  width: 50%;
  margin: auto;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
 /*
#myBar::after {
    content: "";
    height: 30px;
    background: green;
    
	position: absolute;
    animation: loader 2s;
    -webkit-animation: loader 2s;
    -webkit-animation-delay: loader 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    bottom: 0px;
    margin-left: 10%;
}

@keyframes loader {
    0% {width: 0%;left:0;right:0}
    100% { width: 80%;left:0;right:0} 
}

@-webkit-keyframes loader {
    0% {width: 0%;left:0;right:0}
    100% { width: 80%;left:0;right:0}  
} */

#accordion {
    color: black;
    font-size: 0.5em;
}

#carouselContainer {
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 50%;
    height: 100%;
    color: #fff;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(136, 136, 136, 0.66);
}

#catImg {
    display: block;
    margin: 0 auto; 
    width:50%; 
    height: 10%;
    padding-bottom: 30px;
}

#modal {
    color: black;
}

.calendar-choices-container {
    height: 100%;
    text-align: center;
    margin: 25px;
}

.calendar-choices-container img{
    width:100%; 
}

.calendar-choices-container button {
    width: 30%;
}